/* 1180px */

@media (max-width: 1181px) {

    header .header_content {
        padding: 16px 20px;
        height: 96px;
    }

    .hero {
        height: 560px;
        background-size: cover;
        background-position: center center;
    }



    .header_nav {
        position: fixed;
        top: 100px;
        background-color: #C46A2B;
        left: -100%;
        width: 200px;
        height: 144px;
        padding: 16px 0 16px 16px;
        transition: .5s linear;
    }

    .header_ul {
        flex-direction: column;
        row-gap: 4px;
    }

    .burger {
        display: block
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-card:hover {
        transform: none;
        box-shadow: none;
    }

    .product-card:hover img {
        transform: none;
    }

    .contact-container {
        width: 90%;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-section {
        height: auto;
    }

}